   <div class="container">

	    <div class="starter-template">
	      <h1>Wait and Eat</h1>
	      <p class="lead">Smart Resturant Waiting List</p>
	      <button type="button" class="btn btn-primary btn-lg">Get Started Now</button>
	    </div>

      	<div class="row">
		  <div class="col-md-4">
		  	<h2>Ditch the Project</h2>
		  	<p>Use out simple appto manage your waiting list from your PC, tablet, or a phone</p>
		  </div>
		  <div class="col-md-4">
		  	<h2>Get your voice back</h2>
		  	<p>No need to yell every 5 minutes. Just check on your phone</p>
		  </div>
		  <div class="col-md-4">
		  	<h2>Customers will love you</h2>
		  	<p>Now they can go to bathroom and still know their table is ready</p>
		  </div>
		</div>

    </div><!-- /.container -->