<form ng-submit="saveParty()" class="form-inline party-form" role="form">
  <div class="form-group">
    <div class="input-group">
      <label class="sr-only" for="partyName">Party Name</label>
      <input ng-model = "newParty.name" type="text" class="form-control" id="partyName" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label class="sr-only" for="phoneNumber">Phone Number</label>
    <input ng-model="newParty.phone" type="text" class="form-control" id="phoneNumber" placeholder="Phone">
  </div>
  <div class="form-group">
    <label class="sr-only" for="sizeOfParty">Size of Party</label>
    <input ng-model="newParty.size" type="text" class="form-control" id="sizeOfParty" placeholder="Size of Party">
  </div> 
  <button type="submit" class="btn btn-primary">Add Party</button>
</form>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Done?</th>
			<th>Information</th>
			<th>Notified?</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tr ng-repeat="party in parties | orderByPriority" >
		<td><input type="checkbox"></td>
		<td>
			<div><strong>{{party.name}} ({{party.size}})people </strong></div>
			<div>{{party.phone}} </div>
			<div>
				<!-- TODO: Add date create -->
			</div>
		</td>
		<td>
			<div>
				<!-- TODO: Add party.notified -->
			</div>
		</td>
		<td>
			<button ng-click="sendTextMessage(party)" type="submit" class="btn btn-success">Send SMS</button>
			<button ng-click="parties.$remove(party.$id)" type="submit" class="btn btn-danger">Remove</button>
		</td>
	</tr>
</table>